In [12]:
import pandas as pd
import boto3
import io

bucket='my-ml-buckets'

file_key = 'workshop-prepared-data/csvfile-name.csv'

s3_client = boto3.client('s3')

obj = s3_client.get_object(Bucket=bucket, Key=file_key)

df = pd.read_csv(io.BytesIO(obj['Body'].read()))

df.head()

,symbol,counterparty_userid,side,orderid,fee,label,last_deal,userid,fee_rate,couterparty_orderid,size,price,logid,funds,id
0,HOT-ETH,858368,NaN,5e3b83cc0fb53d0009376123,0.0,0,1,355168,0.0,NaN,792341.63,0.0,5e3b840c2e6dcc61d9da2a6c,0.0,14285
1,HOT-ETH,858368,NaN,5e3b060b1fbc8d00080631e1,0.0,0,1,631232,0.0,NaN,441428.13,0.0,5e3b06312e6dcc61d9d9f95c,0.0,1702
2,HOT-ETH,858368,NaN,5e3b48b1cfbd03000971760e,0.0,0,1,93664,0.0,NaN,1201375.88,0.0,5e3b494d2e6dcc61d9da1815,0.0,9567
3,HOT-ETH,858368,NaN,5e3b6500cfbd030009b92f04,0.0,0,1,392384,0.0,NaN,1852201.88,0.0,5e3b68d42e6dcc61d9da240b,0.0,12652
4,HOT-ETH,858368,NaN,5e3b05be1fbc8d0008054a06,0.0,0,1,355168,0.0,NaN,185948.80,0.0,5e3b05c22e6dcc61d9d9f934,0.0,1662

In [21]:
from pandas.io import sql
from sqlalchemy import create_engine
user = 'admin'
password = 'root123456'
host =  'anyhost'
port = 3306
database = 'order-service'

In [22]:
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
                       .format(user=user,
                               host=host,
                               pw=password,
                               db=database))

engine

Engine(mysql+pymysql://admin:***@aiml-db2.cluster-c8gkhofhtia4.us-east-1.rds.amazonaws.com/order-service)

In [23]:
df.to_sql(con=engine, name='od_dai_btc_deal_log1', if_exists='replace')