### 前言 ###

在整个Workshop之前需要将demo数据导入到Aurora中

 1. 首先我们需要将数据放到S3中
 2. 读取后写入到Aurora中

In [2]:
import pandas as pd
import boto3
import io

bucket='anti-fraud-workshop'

file_key = 'workshop-raw-data/raw-data.csv'

s3_client = boto3.client('s3')

obj = s3_client.get_object(Bucket=bucket, Key=file_key)

df = pd.read_csv(io.BytesIO(obj['Body'].read()))

df.head()

,symbol,counterparty_userid,side,orderid,fee,label,last_deal,userid,fee_rate,couterparty_orderid,size,price,logid,funds,id
0,DAI-BTC,858368,NaN,5e3b83cc0fb53d0009376123,0.0,0,1,355168,0.0,NaN,792341.63,0.0,5e3b840c2e6dcc61d9da2a6c,0.0,14285
1,DAI-BTC,858368,NaN,5e3b060b1fbc8d00080631e1,0.0,0,1,631232,0.0,NaN,441428.13,0.0,5e3b06312e6dcc61d9d9f95c,0.0,1702
2,DAI-BTC,858368,NaN,5e3b48b1cfbd03000971760e,0.0,0,1,93664,0.0,NaN,1201375.88,0.0,5e3b494d2e6dcc61d9da1815,0.0,9567
3,DAI-BTC,858368,NaN,5e3b6500cfbd030009b92f04,0.0,0,1,392384,0.0,NaN,1852201.88,0.0,5e3b68d42e6dcc61d9da240b,0.0,12652
4,DAI-BTC,858368,NaN,5e3b05be1fbc8d0008054a06,0.0,0,1,355168,0.0,NaN,185948.80,0.0,5e3b05c22e6dcc61d9d9f934,0.0,1662

In [3]:
pip install pymysql sqlalchemy

/opt/conda/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: pymysql in /opt/conda/lib/python3.7/site-packages (1.0.2)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.7/site-packages (1.3.13)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the '/opt/conda/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pymysql
from sqlalchemy import create_engine
user = 'root'
password = "'G6PrQMK|q]#2:JO~t{AD!i'K):n|m7b"
host =  'anti-fraud-stack-databaseserver-1pj8vmyxpm8bh.cluster-cdtwa5j4xten.us-east-1.rds.amazonaws.com'
port = 3306
database = 'abdb'

In [11]:
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
                       .format(user=user,
                               host=host,
                               pw=password,
                               db=database), pool_pre_ping=True)

engine

Engine(mysql+pymysql://root:***@anti-fraud-stack-databaseserver-1pj8vmyxpm8bh.cluster-cdtwa5j4xten.us-east-1.rds.amazonaws.com/abdb)

## 如果没有源数据表，可以通过以下语句来创建 ##

In [12]:
create_table_sql = """
    create table if not exists od_dai_btc_deal_log
(
    id                  bigint unsigned auto_increment comment '成交流水号'
        primary key,
    logId               varchar(32)     null comment '成交流水号',
    symbol              varchar(10)     null comment '交易对编码。例如DOGE-BTC,',
    userid              bigint(15)      null comment '用户id',
    counterparty_userid varchar(32)     null comment '对手用户id',
    side                varchar(5)      null comment 'BUY -买单
SELL -卖单
',
    orderid             varchar(32)     null comment '订单流水号',
    couterparty_orderid varchar(32)     null comment '对手订单流水号',
    price               decimal(32, 20) null comment '价格',
    size                decimal(32, 20) null comment '数量',
    funds               decimal(32, 20) null comment '市价金额',
    fee                 decimal(32, 20) null comment '手续费',
    fee_rate            decimal(32, 20) null comment '手续费率',
    label               int(1)          null comment '疑似欺诈',
    last_deal           int(1)          not null comment '1-最后一笔成交，0-非最后一笔成交'
);
"""
engine.execute(create_table_sql)

### 常见错误 ### 

```
OperationalError: (pymysql.err.OperationalError) (2006, "MySQL server has gone away (BrokenPipeError(32, 'Broken pipe'))") 
```
需要查验一下 数据库 参数： max_allowed_packet 的值

### 最终导入数量为 24355 ###

In [14]:
dbConnection = engine.connect()
df.to_sql(con=dbConnection, name='od_dai_btc_deal_log', if_exists='replace')
rs = engine.execute("select count(1) from od_dai_btc_deal_log")
for row in rs:
    print(row)

(24355,)