### 前言 ###

在整个Workshop之前需要将demo数据导入到Aurora中

 1. 首先我们需要将数据放到S3中
 2. 读取后写入到Aurora中

In [31]:
import pandas as pd
import boto3
import io

bucket='anti-fraud-workshop'

file_key = 'workshop-raw-data/raw-data.csv'

s3_client = boto3.client('s3')

obj = s3_client.get_object(Bucket=bucket, Key=file_key)

df = pd.read_csv(io.BytesIO(obj['Body'].read()))

df.head()

,id,logId,symbol,userid,counterparty_userid,side,orderid,couterparty_orderid,price,size,funds,fee,fee_rate,label,last_deal
0,1,606c96a37e9a06f9d30944ab1295e7e7,DAI-BTC,a7920e0622c5f5ce6ad745bc84dd4981,6c3e226b4d4795d518ab341b0824ec29,NaN,42a47a7ad97a03199daf4d1e95382a27,6c3e226b4d4795d518ab341b0824ec29,0.0,6.421901e+05,0.0,0.0,0.0,0,1
1,2,ef8f5dcf57ac77173194b34be41f7811,DAI-BTC,a7920e0622c5f5ce6ad745bc84dd4981,6c3e226b4d4795d518ab341b0824ec29,NaN,e926f745b6b764c7d8e36831b8fb0f98,6c3e226b4d4795d518ab341b0824ec29,0.0,1.905846e+05,0.0,0.0,0.0,0,1
2,3,b6a24e3433d71d8cd2671055c8c590f3,DAI-BTC,20e51f979f00052cf9d9dc4d5772300e,6c3e226b4d4795d518ab341b0824ec29,NaN,73aa8b3ced8d4ca259e82819371c9228,6c3e226b4d4795d518ab341b0824ec29,0.0,1.030656e+06,0.0,0.0,0.0,0,1
3,4,a4e05469074a7d25dade6ba9022ef4db,DAI-BTC,9fb528aa900b2b2e0ee2a4f17e418896,6c3e226b4d4795d518ab341b0824ec29,NaN,f4fc4048d1374e336e8d77469258f332,6c3e226b4d4795d518ab341b0824ec29,0.0,8.738583e+06,0.0,0.0,0.0,0,1
4,5,1bcfdeee8b80d26ba4c26996fdb24db7,DAI-BTC,0e866de33bd68809b711976bcf521a13,6c3e226b4d4795d518ab341b0824ec29,NaN,6454103409afe5d2efd3941ed85c4f9d,6c3e226b4d4795d518ab341b0824ec29,0.0,8.572944e+06,0.0,0.0,0.0,0,1

In [32]:
pip install pymysql sqlalchemy

/opt/conda/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: pymysql in /opt/conda/lib/python3.7/site-packages (1.0.2)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.7/site-packages (1.3.13)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the '/opt/conda/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [33]:
import pymysql
from sqlalchemy import create_engine
user = 'root'
password = "'G6PrQMK|q]#2:JO~t{AD!i'K):n|m7b"
host =  'anti-fraud-stack-databaseserver-1pj8vmyxpm8bh.cluster-cdtwa5j4xten.us-east-1.rds.amazonaws.com'
port = 3306
database = 'abdb'

In [34]:
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
                       .format(user=user,
                               host=host,
                               pw=password,
                               db=database), pool_pre_ping=True)

engine

Engine(mysql+pymysql://root:***@anti-fraud-stack-databaseserver-1pj8vmyxpm8bh.cluster-cdtwa5j4xten.us-east-1.rds.amazonaws.com/abdb)

## 如果没有源数据表，可以通过以下语句来创建 ##

In [35]:
create_table_sql = """
    create table if not exists od_dai_btc_deal_log
(
    id                  bigint unsigned auto_increment comment '成交流水号'
        primary key,
    logId               varchar(100)                       null comment '成交流水号',
    symbol              varchar(10)                        null comment '交易对编码。例如DOGE-BTC,',
    userid              varchar(100)                       null comment '用户id',
    counterparty_userid varchar(100)                       null comment '对手用户id',
    side                varchar(5)                         null comment 'BUY -买单
SELL -卖单
',
    orderid             varchar(100)                       null comment '订单流水号',
    couterparty_orderid varchar(100)                       null comment '对手订单流水号',
    price               decimal(32, 12)                    null comment '价格',
    size                decimal(32, 12)                    null comment '数量',
    funds               decimal(32, 12)                    null comment '市价金额',
    fee                 decimal(32, 12)                    null comment '手续费',
    fee_rate            decimal(32, 12)                    null comment '手续费率',
    label               int(1)                             null comment '疑似欺诈',
    last_deal           int(1)                             not null comment '1-最后一笔成交，0-非最后一笔成交',
    deal_time           datetime default CURRENT_TIMESTAMP null
);
"""
engine.execute(create_table_sql)

### 常见错误 ### 

```
OperationalError: (pymysql.err.OperationalError) (2006, "MySQL server has gone away (BrokenPipeError(32, 'Broken pipe'))") 
```
需要查验一下 数据库 参数： max_allowed_packet 的值

### 最终导入数量为 24355 ###

In [36]:
dbConnection = engine.connect()
df.to_sql(con=dbConnection, name='od_dai_btc_deal_log', if_exists='replace')
rs = engine.execute("select count(1) from od_dai_btc_deal_log")
for row in rs:
    print(row)

(24355,)